* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

#title {
  font-size: 70px;
  text-align: center;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 0.5rem solid black;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.2rem solid black;
  font-size: 2rem;
  background-color: lightblue;
  color: lightblue; /* white text for contrast */
}

#box3,
#box7,
#box10,
#box11,
#box12,
#box15 {
  border-left: 0.5rem solid black;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box8,
#box9,
#box10,
#box11 {
  border-bottom: 0.5rem solid black;
}

.prompt {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; /* Adjust as needed */
  color: #000; /* black text for contrast */
}

.answer {
  width: 50%;
  height: 50%;
  text-align: center;
}